*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    border-radius: 0px 0px 40px 40px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(73,73,73,1) 100%);
}
.cab_nav{
    width: 100%;
    padding: 20px;
    text-align: right;
    position: fixed;
    top: 0px;
}
.cab_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 50px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;  
}
.cab_nav ul li a{
    text-decoration: none;
    color: white;
}
.nomb_logo{
    width: 240px;
    padding: 0px 20px;
    float: left;
    position: relative;
    top: 5%;
    left: 2%;
    color: white;
    font-size: 30px;
}
.logo_img{
    width: 80px;
    position: absolute;
    transform: translateX(-1415px) translateY(-20px);
}
.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 10px;
    border: solid;
    background-color: rgb(0, 0, 0);
    border-radius: 20px 20px 20px 20px;
}
.titulo_cont{
    font-size: 50px;
    text-align: center;
    padding: 20px 10px;
    font-family: 'Lucida Sans';
    color: rgb(255, 255, 255);
}
.parrafo_cont{
    font-size: 20px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.foot{
    background-color: black;
    margin-top: 0%;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}
.foot_p{
    color: white;
    text-align: center;
}
.marca{
    background-color: rgb(33, 33, 33);
    border-radius: 60px 60px 60px 60px;
}
