*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    border-radius: 0px 0px 40px 40px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(73,73,73,1) 100%);
}
.cab_nav{
    width: 100%;
    padding: 20px;
    text-align: right;
    position: fixed;
    top: 0px;
}
.cab_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 50px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;  
}
.cab_nav ul li a{
    text-decoration: none;
    color: white;
}
.nomb_logo{
    width: 240px;
    padding: 0px 20px;
    float: left;
    position: relative;
    top: 5%;
    left: 2%;
    color: white;
    font-size: 30px;
}
.logo_img{
    width: 80px;
    position: absolute;
    transform: translateX(-1415px) translateY(-20px);
}
/*EFECTO PARALLAX*/
.fondo_p{
    width: 100%;
    height: 100vh;
    background: url(Imagenes/Ordenador\ Cyber.png);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo_p h1{
    font-size: 60px;
    color: rgb(35, 33, 33);

}
.fondo_2{
    width: 100%;
    height: 100vh;
    background: url(Imagenes/Ordenador\ CYBER\ Gold\ Élite\ 2.jpg);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo_2 h1{
    font-size: 60px;
    color: yellow;

}
.fondo_3{
    width: 100%;
    height: 100vh;
    background: url(Imagenes/Ordenador\ CYBER\ Titanium\ 2.jpg.png);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo_3 h1{
    font-size: 60px;
    color: yellow;

}

.seccion_f{
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    color: black;
    padding: 20px 0px;
}
.seccion{
    background: url(Imagenes/Ordenador\ Cyber.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size: contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.seccion h2, .seccion_1 h2, .seccion_2 h2, .seccion_3 h2{
    font-size: 60px;
    text-align: center;
    padding: 400px 0px;
    color: rgb(255, 255, 255);
}
.titulos{
    font-size: 35px;
    text-align: center;
    padding: 60px 0px;
}
.parrafos{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.foot{
    background-color: black;
    margin-top: 0%;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}
.foot_p{
    color: white;
    text-align: center;
}
.marca{
    background-color: rgb(33, 33, 33);
    border-radius: 60px 60px 60px 60px;
}
/*REPLICAS*/
.seccion_1{
    background: url(Imagenes/Ordenador\ CYBER\ Bronze.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size: contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.seccion_2{
    background: url(Imagenes/Ordenador\ CYBER\ 2\ Bronze\ 2.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size: contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.seccion_3{
    background: url(Imagenes/Ordenador\ CYBER\ Gold\ Élite.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size:contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.seccion_4{
    background: url(Imagenes/Ordenador\ CYBER\ Gold\ Élite\ 3.jpg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size:contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.seccion_5{
    background: url(Imagenes/Ordenador\ CYBER\ Titanium\ 1.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size:contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.seccion_6{
    background: url(Imagenes/Ordenador\ CYBER\ Titanium\ 3.jpg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size:contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.seccion_7{
    background: url(Imagenes/Ordenador\ CYBER\ Titanium\ 4.jpg.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    position: center;
    background-size:contain;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
